{% extends "layout.html" %}
{% block body %}

<div class="col-md-4 offset-md-4">

    <div class="card card-body">

        <form action="/update_detalle_compra/{{ detalle_compra.0 }}" method="POST">

            <div class="form-group">
                <input type="text" name="id_compra" placeholder="ID Compra" value="{{ detalle_compra.1 }}" class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="id_producto" placeholder="ID Producto" value="{{ detalle_compra.2 }}" class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="cantidad" placeholder="Cantidad" value="{{ detalle_compra.3 }}" class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="precio_unitario" placeholder="Precio Unitario" value="{{ detalle_compra.4 }}" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block w-100">
                    Guardar
                </button>
            </div>

        </form>

    </div>

</div>

{% endblock %}