{% extends "layout.html" %}
{% block body %}
<div class="col-md-4 offset-md-4 mt-5">
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <div class="alert alert-warning">{{ msg }}</div>
    {% endfor %}
    {% endwith %}
    <div class="card card-body">
        <h4 class="mb-3">Nueva contraseña</h4>
        <form action="/reset_password/{{ token }}" method="POST">
            <div class="mb-2">
                <input type="password" name="contrasena" class="form-control" placeholder="Nueva contraseña" required>
            </div>
            <div class="mb-3">
                <input type="password" name="confirmar" class="form-control" placeholder="Confirmar contraseña"
                    required>
            </div>
            <button type="submit" class="btn btn-success w-100">Actualizar contraseña</button>
        </form>
    </div>
</div>
{% endblock %}